.grey 
    background-color: #b0bec5 !important

.blue 
    background-color: #2196f3 !important

.green 
    background-color: #8bc34a !important

.red
    background-color: #f44336 !important

.users-months 
    
    height: 100vh
    padding: 10px 40px
    .month
        &_box
            opacity: 80%
        .selected
            opacity: 100%

        &_name 
            padding: 20px
            text-transform: uppercase
            margin-bottom: 10px
            font-weight: 100
            color: white !important
            font-family: Lato
    .users-table 
        min-width: 650px
        // clip: rect(0, auto, 0, auto)
        background-color: rgba(255, 255, 255, .3)
        color: #FFF
    .users-table-placeholder



